@page
@model IndexModel
@using System.Reflection;
@{
    ViewData["Title"] = "Home page";
}


<div class="row">
    <div class="col-md-12" style="background-color: @(Environment.GetEnvironmentVariable("DEPLOYMENT_SLOT") ?? "grey")">
        <ul>
            <li>Release date: @System.IO.File.GetLastAccessTime(typeof(IndexModel).Assembly.Location)</li>
            <li>Slot: @(Environment.GetEnvironmentVariable("DEPLOYMENT_SLOT") ?? "NOT SPECIFIED")</li>
        </ul>
    </div>
</div>
